* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 { 
  font-size: 3rem;
  margin-bottom: 5rem;
}

label { 
  font-size: 1.5rem;
  text-transform: uppercase;
}

.size {
  padding: 0.4rem 1.6rem;
  font-size: 1.5rem;
}

.text-center { text-align: center; }

.btn {
  padding: 0.6rem 1.4rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 3rem;
}

.button-wrapper > * { margin-bottom: 2rem; }

.grid-wrapper {
  display: grid;
  border: 1px solid #333;
}